@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Roboto+Slab&display=swap');

:root 
{
    --primary-color: #535046 ;
    --secondary-color: #50c3f5;
    /*--secondary-color: rgb(239, 70, 98);*/
    --secondary-color-dark: #050505;
    --text-light: #9ca3af;
    --white: #fbf7f7;
    --max-width: 1000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--text-dark);
    font-family: 'Roboto Slab', serif;
  } 

  /*-----HEADER-----*/
  header{
    height: 100vh;
    /*background-image: linear-gradient(to right, #ffffff, #4a4c49);*/
    /*background-color:rgb(180, 177, 176);*/
    background-image: url(./background.jpg);
    background-position: center ;
    background-size: cover;
    /*font-family: 'Roboto Slab', serif;*/
  }

  /*-----NAVBAR LOGO-----*/
  .logo a{
    width: 140px;
    margin-left: 15%;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    transition: 0.3s;
    float: left;
  }

.logo span{
    color: var(--secondary-color);
  }

  /*-----NAVBAR-----*/
  .navbar 
  {
    display:flex;
    width: 100%;
    /*background-color: var(--primary-color);*/
    height: 50px;
    line-height: 50px;
    margin: auto;
    padding-right: 20px;
    padding-top: 3%;
    align-items: center;
    justify-content: space-between;
}

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    gap: 1rem;
    transition: left 0.3s;
    
}

.navbar a {
    text-decoration:none;
    color: var(--white);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .navbar a.active{
    color:var(--secondary-color);
  }
  
  .navbar a:hover{
    color:var(--secondary-color);
  }

  /*-----SECTION-----*/
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 40px 0;
  }

  .section__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);

  }
  
  .section__title span {
    color: var(--secondary-color);
  }
  
  .section__subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--secondary-color);
    padding-bottom: 1rem;
    padding-top: 0.3rem;
  }

  /*-----HEADER CONTAINER-----*/
  .header__container {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-top: 5%;
    padding-left: 50px;  
  }

  .header__container p {
    color: var(--white);
    max-width: 390px;
    margin: .5rem 0;
    padding-left: 5px;
  }

  .header__container p span {
    color: var(--white);
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-right: 1rem;
  }

  .header__container h2 span{
    color: var(--secondary-color);
  }

  .header__container h1 {
    font-size: 50px;
    padding-top: 1rem;
  }

  .header__container h1, h2{
    line-height: 3rem;
    color: var(--white);
    padding-left: 5px;
    margin-top: .5rem;
  }

  /*-----HEADER SOCIAL MEDIA ICONS-----*/
.smm{
    margin-top: 1.5rem;
    display: flex;
}

.smm a{
    text-decoration: none;
}

.smm li{
    list-style: none;
    line-height: 10px;
}

.smm li i{
    font-size: 2rem;
    color:var(--secondary-color);
    margin-left: 7px;  
    margin-right: 4px;
    
}

.smm li i:hover{
    color: var(--white);
}

.about,
.project,
.contact
 {
  background-color: var(--primary-color);
}

.skills,
.resume {
  background-color: var(--secondary-color-dark);
}

/*-----ABOUT-----*/
.about__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.about__image,
.about__content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about__image img {
  max-width: 350px;
}

.about__details {
  padding: .5rem 0;
  color: var(--white);
  text-align:justify;
}

/*-----SKILLS-----*/
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 90px;
    padding-bottom: 10px;
}

.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    color: var(--white);
    align-items: center;
    padding:  0 10px;
}

/*-----SKILLS BAR-----*/
.skill_bar .info p:nth-child(2){
    font-weight: 5;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .python{
    width: 40%;
    animation: python 2s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}
.skill_bar .bar .js{
    width: 50%;
    animation: js 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .office{
    width: 85%;
    animation: office 2s;
}
@keyframes office {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .SMM{
    width: 90%;
    animation: SMM 2s;
}
@keyframes SMM {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}

 .projects__main{
    padding-top: 2rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
}

.projects__main .card{
    background:var(--secondary-color-dark);
    padding: 3rem 2rem;
    position:relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;

}

.projects__main .card i{
    position: absolute;
    color: var(--secondary-color);
    top:1rem;
    left:50%;
    font-size: 60px;
    transform: translateX(-50%);
   
}
.projects__main .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
.projects__main .card p{
    font-family: 'Roboto Slab', serif;
    color:var(--white);
    justify-content: center;
    line-height:1.6;
}

.projects__main .card:hover{
    background: var(--dark);  
}

.resume p{
    color: var(--white);
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 4%;
    display: grid;
    gap: 1rem;
}
.resume a{
    color: var(--white);
    text-decoration: none;
}
.btn{
    padding: 12px 35px;
    background: var(--secondary-color) ;
    border-radius: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0 0 10px var(--text-light);
    transition: 0.5s;
}
  
.btn:hover {
    background-color: var(--primary-color);
  }

  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .contact__details {
    font-size: 0.8rem;
    color: var(--white);
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
  }
 
.cont a{
    color: var(--secondary-color);
    text-decoration: none;
    size: 100px;
}

.cont i {
    font-size: 20px;
  }

  .cont li a:hover{
    color: var(--white);
}

.cont li{
    list-style: none;
    margin-right: 15px;  
}

footer {
    background-color:var(--white);
    color: var(--secondary-color-dark);
    text-align: center;
    font-size: small;
}